#carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flex-parent-element {
  display: flex;
  width: 100%;
}

#container0 {
  background-color: violet;
  max-width: 5%;
}

#container1 {
  background-color: lawngreen;
  align-self: flex-end;
  overflow: visible;
  border: 3px solid black;
  border-radius: 5%;
}

#container2 {
  background-color: blue;
  align-self: flex-start;
  overflow: visible;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

#container3 {
  background-color: hotpink;
  max-width: 5%;
  border: 3px solid black;
  border-radius: 5%;
}


.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: ghostwhite;
  font-size: 72px;
  font-weight: bold;
  text-shadow: 3px 3px 6px black;
}
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 72px;
  font-weight: bold;
  text-shadow: 3px 3px 6px black;
}





/*---------------control-btn-------------*/
.control-btn button {
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  padding: 2px;
}

.control-btn .next {
  position: absolute;
  top: 40%;
  right: 20px;
}

.control-btn .prev {
  position: absolute;
  top: 40%;
  left: 20px;
  z-index: 99;
}
.control-btn .icon {
  font-size: 25px;
}
/*---------------control-btn-------------*/
